.logo_img {
  margin-top: -23%;
  cursor: pointer;
  width: 80px;
   outline: none;
    @media screen and (max-width: 602px) {
  margin-top: -7%;
  cursor: pointer;
  width: 48px;
  outline: none;

}
}
