.sorting_wrapper {
  display: flex;
  margin: auto;
  background-color: #bbbbbb;
}
.sorting_block {
  display: flex;
  margin: auto;
}
.sorting_text {
  font-size: 1.2em;
  font-weight: initial;
  color: black;
}
.sorting_tag {
  font-size: 1.2em;
  font-weight: normal;
  color: crimson;
  cursor: pointer;
}
.sorting_input {
  left: 2%;
  margin-bottom: 1%;
  position: relative;
  display: flex;
  outline: none;
}
