<img class="item_image" src="../../../../assets/image/itemImage.png" alt="itemImage">
<div class="item-containerInfo" >
<img class="img_svg"  src="../../../../assets/image/viewed.svg"  alt="imgView"><p>1000</p>
<img src="../../../../assets/image/liked.svg" alt="imgLike"><p>5000</p>
<img src="../../../../assets/image/dislike.svg" alt="imgDisLike"><p>244</p>
<img src="../../../../assets/image/comment.svg" alt="imgcomment"><p>44</p>
</div>
<p class="card_title" >Card Tile!</p>
<button class="button_more" mat-flat-button>more..</button>
