.sorting_text {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: initial;
  justify-content: space-between;
  color: black;
  background-color: #ed143d00;
  margin: auto;
  width: 625px;
}
@media screen and (max-width: 625px) {
.sorting_text {
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: initial;
  justify-content: space-between;
  color: black;
  margin: auto;
  background-color: #ed143d00;
  width: fit-content;
}
}
